@model SchoolSite.Models.NewsModel

@{
    ViewBag.Title = "添加新闻";
}

<h2>添加新闻</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>新闻信息</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title,new {@class="form-control"})
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content,new {@class="form-control"})
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Content, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateTime, new { @class = "form-control" })
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.DateTime, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DateTime)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
