@using NewSchool.Models
@model IEnumerable<NewSchool.Models.ProfessionModel>

@{
    ViewBag.Title = "专业介绍";
}

<h2>@ViewBag.Title</h2>
@if (Request.IsAuthenticated)
{
   <p>
    @Html.ActionLink("添加专业介绍", "Create", null, new { @class = "btn btn-primary" })
</p> 
}


    @if (Model != null && Model.Any())
    {
        foreach (ProfessionModel researchModel in Model)
         {
             <div class="panel col-md-6 panel-info" style="padding: 5px;">
                 <div class="panel-heading">
                     <div class="panel-title">@researchModel.Title
                     @if (Request.IsAuthenticated)
                     {
                           @Html.ActionLink("修改", "Edit", new { id = researchModel.Id })
                         @Html.ActionLink("删除", "Delete", new { id = researchModel.Id })
                     }
                     </div>
                 </div>
                 <div class="panel-body">
                    @Html.Raw(researchModel.Content)
                 </div>
             </div>
         }
    }

