@model NewSchool.Models.ShowModel

@{
    ViewBag.Title = "添加师生风采";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Show", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model => model.Title,new {@class="control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>
        

        <div class="form-group">
            @Html.LabelFor(model => model.Content, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Content, new { @class = "form-control" ,style="height: 400px;"})
                @Html.ValidationMessageFor(model => model.Content)
            </div>
        </div>
        <div class="form-group">
        <label for="newsImage" class="control-label col-md-2">展示图片</label>
        <div class="col-md-10">
            <input type="file" name="newsImage" id="newsImage" class="form-control"/>
        </div>
    </div>

    
    
   
        
        <p class="text-center">
            <input type="submit" value="添加" class="btn btn-primary" /> @Html.ActionLink("返回列表", "Index","Show",null,new  {@class="btn btn-default"})
        </p>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@Html.Partial("_ckeditor")
}
