@model NewSchool.Models.TeacherModel

@{
    ViewBag.Title = "师资介绍详情";
}

<h2>@Model.Title</h2>

<fieldset>


    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
  
    <p>
        @Html.DisplayNameFor(model => model.Content)
    </p>
   
</fieldset>
<p class="text-center">
    @Html.ActionLink("编辑", "Edit", new { id=Model.Id },new {@class="btn btn-default"}) |
    @Html.ActionLink("返回列表", "Index", "Teacher", null, new { @class = "btn btn-primary" })
</p>
