@model NewSchool.Models.CommModel

@{
    ViewBag.Title = "合作交流详情";
}

<h2>@Model.Title</h2>

<fieldset>
    @if (!string.IsNullOrEmpty(Model.ImageName))
    {
        <img src="@Url.Action("GetImage","Communication",new {Model.Id})" class="img-responsive" />
    }

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
  
    <p>
        @Html.Raw(Model.Content)
    </p>
   
</fieldset>
<p class="text-center">
    @if (Request.IsAuthenticated)
    {
    Html.ActionLink("编辑", "Edit", new { id=Model.Id },new {@class="btn btn-default"});
        
    }
    @Html.ActionLink("返回列表", "Index", "Show", null, new { @class = "btn btn-primary" })
</p>
