   <table width="1003" border="0" align="center" cellpadding="0" cellspacing="0">
       <tbody>
           <tr>
               <td>
                   <table width="784" border="0" cellspacing="0" cellpadding="0">
                       <tbody>
                           <tr>
                               <td width="391">
                                   <a href="#">
                                             <img src="@Url.Content("~/Content/images/index_12.jpg")" alt="" width="391" height="42" border="0">
                                         </a>
                               </td>
                               <td width="393">
                                   <a href="#">
                                             <img src="@Url.Content("~/Content/images/index_13.jpg")" alt="" width="393" height="42" border="0">
                                         </a>
                               </td>
                           </tr>
                           <tr>
                               <td height="191" background="@Url.Content("~/Content/images/index_15.jpg")">
                                   <table width="360" border="0" align="center" cellpadding="0" cellspacing="0">
                                       <tbody>
                                           <tr>
                                               <td width="371" height="24" background="./阜阳职业技术学院--人文社科系_files/linebgf.jpg">
                                                   <span style="border-top: 1 solid #fc41ac; padding-top: 5">
                                                       <table border="0" cellspacing="0" cellpadding="0">
                                                           <tbody>
                                                               <tr height="24">
                                                                   <td width="22" align="center">
                                                                       <img src="@Url.Content("~/Content/images/ico.gif")">
                                                                   </td>
                                                                   <td width="300" nowrap="nowrap">
                                                                       <a href="#" target="_blank" title="人文社科系组织党员教师学习贯彻党的十八届三中全会精神">人文社科系组织党员教师学习贯彻党的...</a> <img src="./阜阳职业技术学院--人文社科系_files/new.gif" align="absmiddle"> <img src="./阜阳职业技术学院--人文社科系_files/gif-0493.gif" align="absmiddle">
                                                                   </td>
                                                                   <td style="font-size: 11px; color: #999999; font-family: Arial;">&nbsp;12-03</td>
                                                               </tr>
                                                               <tr height="24">
                                                                   <td width="22" align="center">
                                                                       <img src="@Url.Content("~/Content/images/ico.gif")">
                                                                   </td>
                                                                   <td width="300" nowrap="nowrap">
                                                                       <a href="#" target="_blank" title="人文系党总支组织全系党员教师学习“两会”精神">人文系党总支组织全系党员教师学习“...</a> <img src="./阜阳职业技术学院--人文社科系_files/new.gif" align="absmiddle"> <img src="./阜阳职业技术学院--人文社科系_files/gif-0493.gif" align="absmiddle">
                                                                   </td>
                                                                   <td style="font-size: 11px; color: #999999; font-family: Arial;">&nbsp;03-29</td>
                                                               </tr>
                                                               <tr height="24">
                                                                   <td width="22" align="center">
                                                                       <img src="@Url.Content("~/Content/images/ico.gif")">
                                                                   </td>
                                                                   <td width="300" nowrap="nowrap">
                                                                       <a href="#" target="_blank" title="校团委和人文社科系负责人赴颍上县看望贫困学生">校团委和人文社科系负责人赴颍上县看...</a> <img src="./阜阳职业技术学院--人文社科系_files/new.gif" align="absmiddle"> <img src="./阜阳职业技术学院--人文社科系_files/gif-0493.gif" align="absmiddle">
                                                                   </td>
                                                                   <td style="font-size: 11px; color: #999999; font-family: Arial;">&nbsp;01-30</td>
                                                               </tr>
                                                               <tr height="24">
                                                                   <td width="22" align="center">
                                                                       <img src="@Url.Content("~/Content/images/ico.gif")">
                                                                   </td>
                                                                   <td width="300" nowrap="nowrap">
                                                                       <a href="#" target="_blank" title="人文社科系召开深入学习贯彻十八大精神交流会">人文社科系召开深入学习贯彻十八大精...</a> <img src="./阜阳职业技术学院--人文社科系_files/new.gif" align="absmiddle"> <img src="./阜阳职业技术学院--人文社科系_files/gif-0493.gif" align="absmiddle">
                                                                   </td>
                                                                   <td style="font-size: 11px; color: #999999; font-family: Arial;">&nbsp;12-14</td>
                                                               </tr>
                                                               <tr height="24">
                                                                   <td width="22" align="center">
                                                                       <img src="@Url.Content("~/Content/images/ico.gif")">
                                                                   </td>
                                                                   <td width="300" nowrap="nowrap">
                                                                       <a href="#" target="_blank" title="人文社科系学生和教工党支部召开组织生活会">人文社科系学生和教工党支部召开组织...</a> <img src="./阜阳职业技术学院--人文社科系_files/new.gif" align="absmiddle"> <img src="./阜阳职业技术学院--人文社科系_files/gif-0493.gif" align="absmiddle">
                                                                   </td>
                                                                   <td style="font-size: 11px; color: #999999; font-family: Arial;">&nbsp;08-16</td>
                                                               </tr>
                                                               <tr height="24">
                                                                   <td width="22" align="center">
                                                                       <img src="@Url.Content("~/Content/images/ico.gif")">
                                                                   </td>
                                                                   <td width="300" nowrap="nowrap">
                                                                       <a href="#" target="_blank" title="人文社科系学生党支部组织新党员入党宣誓">人文社科系学生党支部组织新党员入党...</a> <img src="./阜阳职业技术学院--人文社科系_files/new.gif" align="absmiddle"> <img src="./阜阳职业技术学院--人文社科系_files/gif-0493.gif" align="absmiddle">
                                                                   </td>
                                                                   <td style="font-size: 11px; color: #999999; font-family: Arial;">&nbsp;06-20</td>
                                                               </tr>
                                                               <tr height="24">
                                                                   <td width="22" align="center">
                                                                       <img src="@Url.Content("~/Content/images/ico.gif")">
                                                                   </td>
                                                                   <td width="300" nowrap="nowrap">
                                                                       <a href="#" target="_blank" title="人文系党总支组织全系师生党员学习党委文件精神并观看电教片">人文系党总支组织全系师生党员学习党...</a> <img src="./阜阳职业技术学院--人文社科系_files/new.gif" align="absmiddle"> <img src="./阜阳职业技术学院--人文社科系_files/gif-0493.gif" align="absmiddle">
                                                                   </td>
                                                                   <td style="font-size: 11px; color: #999999; font-family: Arial;">&nbsp;05-03</td>
                                                               </tr>
                                                           </tbody>
                                                       </table>
                                                   </span>
                                               </td>
                                           </tr>
                                       </tbody>

                                   </table>
                               </td>
                               <td background="@Url.Content("~/Content/images/index_16.jpg")">
                                   <table width="360" border="0" align="center" cellpadding="0" cellspacing="0">
                                       <tbody>
                                           <tr>
                                               <td width="371" height="24" background="./阜阳职业技术学院--人文社科系_files/linebgf.jpg">
                                                   <span style="border-top: 1 solid #fc41ac; padding-top: 5">
                                                       <table border="0" cellspacing="0" cellpadding="0">
                                                           <tbody>
                                                               <tr height="24">
                                                                   <td width="22" align="center">
                                                                       <img src="@Url.Content("~/Content/images/ico.gif")">

                                                                   </td>
                                                                   <td width="300" nowrap="nowrap">
                                                                       <a href="http://rwskx.fyvtc.edu.cn/DocHtml/314/2013/10/18/114855739607.html" target="_blank" title="人文社科系成功举办教师“说课程”比赛">人文社科系成功举办教师“说课程”比赛</a>
                                                                   </td>
                                                                   <td style="font-size: 11px; color: #999999; font-family: Arial;">&nbsp;10-18</td>
                                                               </tr>
                                                               <tr height="24">
                                                                   <td width="22" align="center">
                                                                       <img src="@Url.Content("~/Content/images/ico.gif")">
                                                                   </td>
                                                                   <td width="300" nowrap="nowrap">
                                                                       <a href="http://rwskx.fyvtc.edu.cn/DocHtml/314/2014/12/10/1061078711757.html" target="_blank" title="人文社科系关于各专业职业技能竞赛的通知">人文社科系关于各专业职业技能竞赛的通知</a>
                                                                   </td>
                                                                   <td style="font-size: 11px; color: #999999; font-family: Arial;">&nbsp;12-10</td>
                                                               </tr>
                                                               <tr height="24">
                                                                   <td width="22" align="center">
                                                                       <img src="@Url.Content("~/Content/images/ico.gif")">
                                                                   </td>
                                                                   <td width="300" nowrap="nowrap">
                                                                       <a href="http://rwskx.fyvtc.edu.cn/DocHtml/314/2014/10/27/5150052711490.html" target="_blank" title="人文社科系成功举办外聘教师座谈会">人文社科系成功举办外聘教师座谈会</a>
                                                                   </td>
                                                                   <td style="font-size: 11px; color: #999999; font-family: Arial;">&nbsp;10-27</td>
                                                               </tr>
                                                               <tr height="24">
                                                                   <td width="22" align="center">
                                                                       <img src="@Url.Content("~/Content/images/ico.gif")">
                                                                   </td>
                                                                   <td width="300" nowrap="nowrap"><a href="http://rwskx.fyvtc.edu.cn/DocHtml/314/2014/10/26/2517865811484.html" target="_blank" title="外聘教师培训相关资料">外聘教师培训相关资料</a></td><td style="font-size: 11px; color: #999999; font-family: Arial;">&nbsp;10-26</td>
                                                               </tr>
                                                               <tr height="24">
                                                                   <td width="22" align="center">
                                                                       <img src="@Url.Content("~/Content/images/ico.gif")">
                                                                   </td>
                                                                   <td width="300" nowrap="nowrap"><a href="http://rwskx.fyvtc.edu.cn/DocHtml/314/2014/5/13/8142316510898.html" target="_blank" title="我校学前教育专业学生在全省艺术专业技能大赛中国舞表演比赛中喜获佳绩">我校学前教育专业学生在全省艺术专业技能大赛中...</a></td><td style="font-size: 11px; color: #999999; font-family: Arial;">&nbsp;05-13</td>
                                                               </tr>
                                                               <tr height="24">
                                                                   <td width="22" align="center">
                                                                       <img src="@Url.Content("~/Content/images/ico.gif")">
                                                                   </td><td width="300" nowrap="nowrap"><a href="http://rwskx.fyvtc.edu.cn/DocHtml/314/2014/5/13/5305371910896.html" target="_blank" title="人文社科系举办“花样年华 别样人生">人文社科系举办“花样年华 别样人生</a></td><td style="font-size: 11px; color: #999999; font-family: Arial;">&nbsp;05-13</td>
                                                               </tr>
                                                               <tr height="24">
                                                                   <td width="22" align="center">
                                                                       <img src="@Url.Content("~/Content/images/ico.gif")">
                                                                   </td><td width="300" nowrap="nowrap">
                                                                            <a href="http://rwskx.fyvtc.edu.cn/DocHtml/314/2013/5/30/229553009030.html" target="_blank" title="人文社科系顺利举行2013届初等教育专业毕业生论文答辩会">人文社科系顺利举行2013届初等教育专业毕业生论...</a>
                                                                        </td>
                                                                   <td style="font-size: 11px; color: #999999; font-family: Arial;">&nbsp;05-30</td>
                                                               </tr>

                                                           </tbody>

                                                       </table>
                                                   </span>
                                                   

                                               </td>
                                           </tr>
                                       </tbody>

                                   </table>
                               </td>
                           </tr>
                           <tr>
                               <td colspan="2"><img src="@Url.Content("~/Content/images/index_18.jpg")" width="784" height="7" alt=""></td>
                           </tr>
                       </tbody>

                   </table>
               </td>
               <td width="219">
                   <table width="98" border="0" cellspacing="0" cellpadding="0">
                       <tbody>
                           <tr>
                               <td>
                                   <a href="http://rwskx.fyvtc.edu.cn/SortHtml/314/75655342325.html">
                                       <img src="@Url.Content("~/Content/images/index_14.jpg")" alt="" width="219" height="42" border="0">
                                   </a>
                               </td>
                           </tr>
                           <tr>
                               <td height="198" background="@Url.Content("~/Content/images/index_17.jpg")">
                                   <table width="209" border="0" align="center" cellpadding="0" cellspacing="2">
                                       <tbody>
                                           <tr>
                                               <td width="205">
                                                   <table border="0" cellspacing="0" cellpadding="0">
                                                       <tbody>
                                                           <tr height="23">
                                                               <td width="30" align="center">
                                                                   <img src="./阜阳职业技术学院--人文社科系_files/item_14.gif">
                                                               </td>
                                                               <td width="180" nowrap="nowrap">
                                                                   <a href="http://rwskx.fyvtc.edu.cn/DocHtml/314/2009/12/2/222686542833.html" target="_blank" title="第一次面试，可能遇到的问题(转载）">第一次面试，可能遇到的问题...</a>
                                                               </td>
                                                           </tr>
                                                           <tr height="23">
                                                               <td width="30" align="center">
                                                                   <img src="./阜阳职业技术学院--人文社科系_files/item_14.gif">
                                                               </td>
                                                               <td width="180" nowrap="nowrap">
                                                                   <a href="http://rwskx.fyvtc.edu.cn/DocHtml/314/2009/11/25/492895282807.html" target="_blank" title="挑战职场，提升自我，追求卓越——人文社科系成功举行2010届毕业生顶岗实习动员会">挑战职场，提升自我，追求卓...</a>
                                                               </td>
                                                           </tr><tr height="23">
                                                                    <td width="30" align="center">
                                                                        <img src="./阜阳职业技术学院--人文社科系_files/item_14.gif">
                                                                    </td><td width="180" nowrap="nowrap">
                                                                             <a href="http://rwskx.fyvtc.edu.cn/DocHtml/314/2009/10/22/602978292032.html" target="_blank" title="人文社科系2009年度毕业生就业工作领导小组成员及责任分工">人文社科系2009年度毕业生就...</a>
                                                                         </td>
                                                                </tr><tr height="23">
                                                                         <td width="30" align="center">
                                                                             <img src="./阜阳职业技术学院--人文社科系_files/item_14.gif">
                                                                         </td><td width="180" nowrap="nowrap">
                                                                                  <a href="http://rwskx.fyvtc.edu.cn/DocHtml/314/2009/4/20/58515297431.html" target="_blank" title="人文社科系成立2009年度毕业生就业工作领导小组">人文社科系成立2009年度毕业...</a>
                                                                              </td>
                                                                     </tr><tr height="23">
                                                                              <td width="30" align="center">
                                                                                  <img src="./阜阳职业技术学院--人文社科系_files/item_14.gif">
                                                                              </td><td width="180" nowrap="nowrap">
                                                                                       <a href="http://rwskx.fyvtc.edu.cn/DocHtml/314/2009/6/22/16974617308.html" target="_blank" title="人文社科系贯彻院学生处关于09届毕业生村官选聘报名工作的实施意见">人文社科系贯彻院学生处关于...</a>
                                                                                   </td>
                                                                          </tr><tr height="23">
                                                                                   <td width="30" align="center">
                                                                                       <img src="./阜阳职业技术学院--人文社科系_files/item_14.gif">
                                                                                   </td><td width="180" nowrap="nowrap">
                                                                                            <a href="http://rwskx.fyvtc.edu.cn/DocHtml/314/2009/6/22/98099038307.html" target="_blank" title="人文社科系2008年度毕业生就业工作领导小组成员及责任分工">人文社科系2008年度毕业生就...</a>
                                                                                        </td>
                                                                               </tr><tr height="23">
                                                                                        <td width="30" align="center">
                                                                                            <img src="./阜阳职业技术学院--人文社科系_files/item_14.gif">
                                                                                        </td>
                                                                                        <td width="180" nowrap="nowrap">
                                                                                            <a href="http://rwskx.fyvtc.edu.cn/DocHtml/314/2009/6/22/75653969306.html" target="_blank" title="人文社科系05级顶岗实习与就业工作动员会纪要">人文社科系05级顶岗实习与就...</a>
                                                                                        </td>
                                                                                    </tr>
                                                       </tbody>
                                                   </table>
                                               </td>
                                           </tr>
                                       </tbody>

                                   </table>
                               </td>
                           </tr>
                       </tbody>

                   </table>
               </td>
           </tr>
       </tbody>

   </table>