
<style>

    ul.normal li {
        list-style: disc inside content("\f1eb");
    }

     ul.normal li a {
         display: block;
         overflow: hidden;
         text-overflow: ellipsis;
         white-space: nowrap;
     }
    ul.normal li span {
        float: right;
    }

    .panel {
        border-radius: 10px;
    }

    .panel-title {
        color: #63cb1c;
        font-weight: bold;
        display: inline-block;
    }
</style>
<div class="col-md-8" style="padding-left: 0px;padding-right: 0px;">
    <div class="carousel slide" data-ride="carousel" id="myCarousel" style="height: 300px;overflow: hidden;margin-top: -20px;">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            @Html.Action("Show","News")
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="col-md-4" style="padding-left: 0px;padding-right: 0px;margin-top: -20px;">
    <div class="panel panel-info" style="height: 300px;">
        <div class="panel-heading ">
            <div class="panel-title" ><i class="fa fa-newspaper-o fa-lg" style="color:orange;"></i>院系新闻  </div>
            <div style="float:right;">@Html.ActionLink("更多", "Index", "News")</div>
        </div>
        <div class="panel-body">
            <ul class="normal list-unstyled" id="newsUl">
            </ul>
        </div>
    </div>
</div>


    <div class="col-md-4"  style="padding-left: 0px;padding-right: 0px;margin-top: -20px;">
        <div class="panel panel-info" style="margin-bottom: 5px;height: 300px;">
            <div class="panel-heading">
                <div class="panel-title"  >
                    <i class="fa fa-envelope fa-lg" style="color:orange;" ></i>最新通知
                </div>
                <div style="float:right;">@Html.ActionLink("更多","Index","Notice")</div>
            </div>
            <div class="panel-body">
                <ul class="normal list-unstyled" id="noticeUl">
                </ul>
            </div>
        </div>
    </div> 
<div class="col-md-8" style="padding-left: 0px;padding-right: 0px;margin-top: -20px;">
    <div class="panel panel-info" style="margin-bottom: 5px;height: 300px;">
        <div class="panel-heading">
            <div class="panel-title"><i class="fa fa-thumbs-o-up fa-lg" style="color:orange;background-position: bottom;"></i>师生风采</div>
        </div>
        <div class="panel-body" style="padding: 0px;">
            <marquee style="margin: 0px;" id="affiche" align="left" behavior="alternate" direction="up" height="370" width="640" hspace="50" vspace="20" loop="-1" scrollamount="1" scrolldelay="0" onmouseout="this.start()" onmouseover="this.stop()">
            </marquee>
        </div>
    </div>
</div> 

<div class="col-md-12" style="padding-left: 0px;padding-right: 0px;margin-top: -20px;">
    <div class="panel  panel-info">
        <div class="panel-heading">
            <div class="panel-title"><i class="fa fa-link fa-lg" style="color: orange;"></i>友情链接</div>
        </div>
        <div class="panel-body" style="font-size: 15px;font-weight: bold;">

            <a href="http://www.xjtucc.cn/" class="text-danger">西安交通大学城市学院</a>
            <a href="http://www.xjtu.edu.cn/" class="text-danger">西安交通大学</a>
            <a href="http://www.xjtu.edu.cn/yxsz/271.html" class="text-danger">西安交通大学人文文学院</a>
            <a href="http://ijcr.xjtu.edu.cn/" class="text-danger">西安交通大学新闻传播研究所</a>
        </div>

    </div>
</div>

<div class="col-md-12" style="padding-left: 0px;padding-right: 0px;margin-top: -20px;">
    <div class="panel  panel-info">
        <div class="panel-heading">
            <div class="panel-title"><i class="fa fa-phone fa-lg"  style="color:orange;"></i>联系我们</div>
        </div>
        <div class="panel-body" style="font-size: 15px;">
            @* <i class="fa fa-spinner fa-spin"></i>
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <i class="fa fa-refresh fa-spin"></i>
            <i class="fa fa-cog fa-spin"></i>*@
            <p>
            联系电话：029-86654299</p>
            <p>
                地址：陕西省西安市尚稷路8715号　
            </p>   
            <p>
                邮编：710018
            </p> 
        </div>

    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function() {
            $("#newsUl").load("@Url.Action("Index","News")");
            $("#noticeUl").load("@Url.Action("Index","Notice")");  
            $("#affiche").load("@Url.Action("Index","Show")");  
        });
    </script>
}