@model NewSchool.Models.NewsModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>

<fieldset>
    <legend>新闻内容(@Model.CreateTime)</legend>
    @if (!string.IsNullOrEmpty(Model.ImageName))
    {
    <img src="@Url.Action("GetImage","News",new {Model.Id})" class="img-responsive"/>
    }

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
  
    <p>
        @Html.Raw(Model.Content)
    </p>
   
</fieldset>
<p class="text-center">
    @if (Request.IsAuthenticated)
    {
    @Html.ActionLink("编辑", "Edit", new { id=Model.Id },new {@class="btn btn-default"}) 
    }
    
    @Html.ActionLink("返回列表", "Index", "News", null, new { @class = "btn btn-primary" })
</p>
