@model NewSchool.Models.NoticeModel

@{
    ViewBag.Title = "通知详情";
}

<h2>@Model.Title </h2>
<h3>@Model.CreateTime</h3>
<fieldset>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Content)
    </div>

    <p>
        @Html.Raw(@Model.Content)
    </p>
</fieldset>
<p class="text-center">
    @Html.ActionLink("编辑", "Edit", new { id = Model.Id }, new { @class = "btn btn-default" }) |
    @Html.ActionLink("返回列表", "Index", "Notice", null, new { @class = "btn btn-primary" })
</p>
