@using NewSchool.Models
@model IEnumerable<NewSchool.Models.NoticeModel>

@{
    ViewBag.Title = "Index";
}
@Html.Partial("_ScrollImage")
<h2>通知列表</h2>

@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("添加新通知", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <ol class="list-group">
        @if (Model != null && Model.Any())
        {
            foreach (NoticeModel newsModel in Model)
            {
                <li class="list-group-item">
                    @Html.ActionLink("修改", "Edit", new { id = newsModel.Id }) |
                    @Html.ActionLink("删除", "Delete", new { id = newsModel.Id })
                    @newsModel.CreateTime.ToShortDateString()
                    @Html.ActionLink(newsModel.Title, "Details", new { id = newsModel.Id })
                </li>

            }
        }
    </ol>
}
else
{
    if (Model != null && Model.Any())
    {
        foreach (NoticeModel newsModel in Model)
        {
            <li class="list-group-item">
                @newsModel.CreateTime.ToShortDateString()
                @Html.ActionLink(newsModel.Title, "Details", new { id = newsModel.Id })
            </li>

        }
    }
}